{% extends "base.html" %}

{% block content %}
<h1>Biblioteka strona główna</h1>
<p>Witaj na stronie głównej naszej biblioteki, opracowanej przez
  <strong>Łukasz Drozd</strong></p>

<p>Biblioteka ma następującą liczbę rekordów:</p>
<ul>
  <li><strong>Tytuły:</strong> {{ num_books }}</li>
  <li><strong>Egzemplarze:</strong> {{ num_instances }}</li>
  <li><strong>Dostępne egzemplarze:</strong> {{ num_instances_available }}</li>
  <li><strong>Autorzy:</strong> {{ num_authors }}</li>
</ul>
{% endblock %}